@font-face {
    font-family: GarnetBlack;
    src: url(fonts/GarnetCapitals-Black.ttf);
}
@font-face {
    font-family: Goldbarre;
    src: url(fonts/GoldbarreNo2W00-Regular.ttf);
}
@font-face {
    font-family: Gothic;
    src: url(fonts/NewsGothicStd.otf);
}
@font-face {
    font-family: Londoner;
    src: url(fonts/Londoner.ttf);
}
h1{
    font-family: Goldbarre;
    color: #9b9070;
    font-size: 16pt;
    font-weight: 600;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    width: 1500px;
    margin-top: 20px;
}
body{
    width: 1500px;
    margin: -16px auto;
}
.buttonunset{
    all: unset;
}
.buttonunset:hover{
    cursor: pointer;
}
/*nav bar styling*/
nav{
    background-color: #2E2B2D;
    height: 86px;
    margin-top: -8px;
}
#burgermenu{
    margin-left: 23px;
    margin-top: 28px;
}
#ezcheflogo{
    position: absolute;
    margin-left: 30px;
    margin-top: 19px;
    opacity: 79%;
}
nav ul{
    display: flex;
    text-align: center;
    margin-left: 526px;
}
.swiper-slide img{
    box-shadow:#535353 0 0px 0 2px ;
    border-radius: 10px;
}
nav li{
    all: unset;
    margin-left: 15px;
    height: 83px;
    margin-top: 3px;
    width: 117px;
    position: relative;
}
nav li:hover{
    cursor: pointer;
    background-color: #282527;
}
nav a{
    all: unset;
    color: #9b9070;
    font-family: GarnetBlack;
    position: absolute;
    margin-top: 31px;
    margin-left: -31px;
    font-size: 13pt;
}
.active{
    background-color: #282527;
}
header{
    height: 120px;
    background-color: #2E2B2D;
}
hr{
    border-top: 1px;
    border-color: #9b9070;
    margin: 0;
}
#container{
    height: 400px;
    background-color: #262526;
}
.vl {
    border-left: 1px solid;
    border-color: #9b9070;
    height: 300px;
}
/*footer styling*/
footer{
    background-color: #262526;
    height: 300px;
    display: flex;
    width: 1500px;
}
h2{
    font-family: Goldbarre;
    color: #9b9070;
    font-size: 16pt;
    font-weight: 600;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    width: 1000px;
    margin-top: 30px;
}
.right{
    width: 500px;
}
#leftfooter{
    width: 1000px;
}
#rightfooter{
    width: 500px;
}
#leftfooter ul{
    list-style-type: none;
    color: #9b9070;
    font-family: Gothic;
    margin-top: 85px;
    margin-left: 50px;
    text-align: center;
}
a{
    all: unset;
    color: #9b9070;
    font-size: 18px;
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
}
.youtubelogo, .webicon, .phoneicon, .mailicon, .locationicon{
    margin-top: 5px;
    position: absolute;
}
html{
    background-color: #1F1F1F;
}
.youtubelogo:hover, .webicon:hover{
    scale: 1.12;
}
.youtubelogo{
    margin-left: 10px;
}
.mailicon{
    scale: 1.1;
}
li{
    margin-bottom: 30px;
}
#topheading{
    margin-top: 38px;
}
#footerlinks{
    display: flex;
    margin-left: 100px;
    height: 100px;
}
#rightfooter ul{
    list-style-type: none;
    color: #9b9070;
    font-family: Gothic;
    margin-top: 90px;
    margin-left: -60px;
    text-align: center;
}
#rightfooter img{
    margin-left: 80px;
    margin-top: -38px;
}
#rightfooter li{
}
.phoneicon{
    translate: -10px;
}
.mailicon{
    translate: 8px;
}
.webicon{
    margin-left: 8px;
    margin-top: 3px;
}
/* Index page Styling and recipe of the day */
#ROTD{
    height: 500px;
    background-color: #2E2B2D;
}
#categorycarousel{
    height: 650px;
    background-color: #262526;
}
h3{
    font-family: Goldbarre;
    color: #9b9070;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    width: 1000px;
    margin-top: 50px;
    margin-left: -170px;
}
#protiendonuts{
    scale: 0.8;
    margin-top: 70px;
    margin-left: 50px;
}
#ROTD{
    display: flex;
}
h4{
    font-family: GarnetBlack;
    font-size: 40pt;
    color: #9b9070;
    margin-left: -100px;
}
#traits{
    display: flex;
    font-family: Londoner;
    color: #9b9070;
    font-size: 20pt;
    margin-top: -60px;
    margin-left: 120px;
}
#rightROTD{
    margin-left: 80px;
    margin-top: -20px;
    text-align: center;
    width: 1000px;
}
#rightROTD li{
    margin-left: 30px;
}
#leftROTD{
    margin-left: 50px;
}
#ROTD p{
    font-family: Gothic;
    color: #9b9070;
    width: 700px;
    font-size: 12pt;
    letter-spacing: 2px;
    margin-top: -40px;
    line-height: 31px;
    margin-left: 25px;
}
/* swiper carousel styling */
.swiper {
    width: 1350px;
    margin-top: -70px;
}
.logo{
    all: unset;
}
.swiper-slide{
    width: 500px;
    margin-top: 40px;
}
.swiper-slide img {
    object-fit: cover;
}
#header{
    display: flex;
}
#page2head{
    margin-top: -100px;
    font-size: 13pt;
}
header img{
    scale: 0.7;
    margin-left: 140px;
    margin-top: -5px;
}
.swiper-button-next, .swiper-button-prev{
    color: #9b9070;
    translate: 30px 290px;
}
.swiper-button-next{
    translate: 1445px 280px;
}
.swiper-button-next, .swiper-button-prev {
    position: unset;
    scale: 1.2;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    scale: 1.3;
}
.swiper-slide swiper-slide-active{
    margin-left: -120px;
}
/* learn.html styling */
.learnlabel{
    position: absolute;
    width: 180px;
    margin-top: -25px;
    color: #9b9070;
    letter-spacing: 1px;
    font-family: GarnetBlack;
    text-align: center;
    font-size: 15pt;
}
#category{
    border-radius: 7px;
    border-style: solid;
    border-color: #535353;
    position: absolute;
    position: relative;
    border-width: 1px;
    text-align: center;
    width: 180px;
    letter-spacing: 1px;
    height: 58px;
    font-size: 22pt;
    margin-top: -30px;
    margin-left: 130px;
    background-color: #1F1F1F;
}
.explore{
    font-family: Londoner;
    color: #9b9070;
    font-size: 15pt;
    margin-top: 5px;
    width: 180px;
    margin-left: 2px;
    text-align: center;
}
. .swiper-button-prev::after, .swiper-button-next::after{
    color: #9b9070;
}
.swiper-wrapper{
    text-align: center;
    margin-left: 0px;
    width: 1400px;
}
#learnpage{
    background-color: #282527;
    margin-top: -25px;
    height: 1100px;
}
h6{
    position: absolute;
    width: 180px;
    margin-top: 20px;
    color: #9b9070;
    letter-spacing: 1px;
    margin-left: -2px;
    font-family: GarnetBlack;
    text-align: center;
    font-size: 35pt;
    width: 1500px;
}
#toprow, #bottomrow{
    height: 500px;
}
.learnul{
    list-style-type: none;
    width: 1500px;
    text-align: center;
    display: flex;
}
#title{
    border-radius: 7px;
    border-style: solid;
    border-color: #535353;
    position: absolute;
    position: relative;
    border-width: 1px;
    text-align: center;
    width: 180px;
    letter-spacing: 1px;
    height: 52px;
    font-size: 18pt;
    margin-top: -30px;
    margin-left: 100px;
    background-color: #1F1F1F;
}
.learnli{
    margin-top: 140px;
    margin-left: 75px;
}
.learnli:hover{
    #title{
        scale: 1.05;
   }
}
.learnli img{
    border-radius: 10px;
}
#bottomrow{
}
/* cook.html styling */
#cookpage{
    background-color: #282527;
    margin-top: -25px;
    height: 1160px;
}
.cookli{
    scale: 0.85;
    margin-left: -40px;
    margin-top: -35px;
}
.cookul{
    list-style-type: none;
    width: 1300px;
    margin-left: 40px;
    text-align: center;
    display: flex;
}
#cookheader{
    font-size: 15pt;
}
#cookpage{
    margin-top: -70px;
}
#hr2{
    position: relative;
    margin-top: 20px 
}
#recipetitle{
    border-radius: 7px;
    border-style: solid;
    border-color: #535353;
    position: absolute;
    position: relative;
    border-width: 1px;
    text-align: center;
    width: 180px;
    letter-spacing: 1px;
    height: 58px;
    font-size: 22pt;
    margin-top: -30px;
    margin-left: 160px;
    background-color: #1F1F1F;
}
#cookbottomrow{
    margin-top: -90px;
}
html.with-fancybox body.hide-scrollbar {
    width: 1500px;
}
#learnpage img{
    border-style: solid;
    border-color: #535353;
    border-width: 1px;
}
h5{
    position: absolute;
    width: 180px;
    margin-top: -28px;
    color: #9b9070;
    letter-spacing: 1px;
    margin-left: -2px;
    font-family: GarnetBlack;
    text-align: center;
    font-size: 18.5pt;
}
/* final misc styling */
.swiper-slide:hover{
    cursor: pointer;
    #recipetitle, #category{
        scale: 1.05;
   }
}
#learnbutton{
    all: unset;
    background-color: #1f1f1f;
    box-shadow: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    width: 240px;
    height: 70px;
    margin-top: 380px;
    margin-left: -580px;
}
#learnbutton:hover{
    background-color: #262526;
    cursor: pointer;
}
#ROTD #learnmore{
    font-family: GarnetBlack;
    font-size: 16pt;
    margin-top: 15px;
    margin-left: -230px;
    text-align: center;
}
#leftROTD img{
    box-shadow:#535353 0 0px 0 2px ;
    border-radius: 10px;
}
