@font-face {
    font-family: GarnetBlack;
    src: url(fonts/GarnetCapitals-Black.ttf);
}
@font-face {
    font-family: Goldbarre;
    src: url(fonts/GoldbarreNo2W00-Regular.ttf);
}@font-face {
    font-family: Gothic;
    src: url(fonts/NewsGothicStd.otf);
}
@font-face {
    font-family: Londoner;
    src: url(fonts/Londoner.ttf);
}
h1{
    font-family: Goldbarre;
    color: #9b9070;
    font-size: 16pt;
    font-weight: 600;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    width: 1500px;
    margin-top: 30px;
}
body{
    width: 1500px;
    margin: 0 auto;
}
.buttonunset{
    all: unset;
}
.buttonunset:hover{
    cursor: pointer;
}
nav{
    background-color: #2E2B2D;
    height: 86px;
    margin-top: -8px;
}
#burgermenu{
    margin-left: 23px;
    margin-top: 28px;
}
#ezcheflogo{
    position: absolute;
    margin-left: 30px;
    margin-top: 17px;
    opacity: 79%;
}
nav ul{
    display: flex;
    text-align: center;
    margin-left: 526px;
}
nav li{
    all: unset;
    margin-left: 15px;
    height: 83px;
    margin-top: -73px;
    width: 117px;
    position: relative;
}
nav li:hover{
    cursor: pointer;
    background-color: #282527;
}
nav a{
    all: unset;
    color: #9b9070;
    font-family: GarnetBlack;
    position: absolute;
    margin-top: 31px;
    margin-left: -31px;
    font-size: 13pt;
}
.active{
    background-color: #282527;
}
header{
    height: 120px;
    background-color: #2E2B2D;
}
hr{
    border-top: 1px;
    border-color: #9b9070;
    margin: 0;
}
#container{
    height: 400px;
    background-color: #262526;
}
.vl {
    border-left: 1px solid;
    border-color: #9b9070;
    height: 300px;
  }
footer{
    background-color: #262526;
    height: 300px;
    display: flex;
    width: 1500px;
}
h2{
    font-family: Goldbarre;
    color: #9b9070;
    font-size: 16pt;
    font-weight: 600;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    width: 1000px;
    margin-top: 30px;
} 
.right{
    width: 500px;
}
#leftfooter{
    width: 1000px;
}
#rightfooter{
    width: 500px;
}
#leftfooter ul{
    color: #9b9070;
    font-family: Gothic;
    margin-top: 85px;
    margin-left: 50px;
    text-align: center;
}
a{
    all: unset;
    color: #9b9070;
    font-size: 18px;
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
}
.youtubelogo, .webicon, .phoneicon, .mailicon, .locationicon{
    margin-top: 5px;
    position: absolute;
 
}

.youtubelogo:hover, .webicon:hover{
    scale: 1.12;
}

.youtubelogo{
    margin-left: 10px;
}
li{
    margin-bottom: 30px;
}
#footerlinks{
    display: flex;
    margin-left: 100px;
}

#rightfooter ul{
    list-style-type: none;
    color: #9b9070;
    font-family: Gothic;
    margin-top: 90px;
    margin-left: -60px;
    text-align: center;

}
#rightfooter img{
    margin-left: 80px;
    margin-top: -38px;
}
#rightfooter li{

}

.phoneicon{
translate: -10px;
}

.mailicon{
translate: 8px;
}

.webicon{
    margin-left: 8px;
    margin-top: 3px;
}



#ROTD{
    height: 500px;
    background-color: #2E2B2D;
}
#categorycarousel{
    height: 600px;
    background-color: #262526;
}

h3{
    font-family: Goldbarre;
    color: #9b9070;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    width: 1000px;
    margin-top: 50px;
    margin-left: -170px;
} 
#protiendonuts{
    scale: 0.8;
    margin-top: 70px;
    margin-left: 50px;
}

#ROTD{
    display: flex;
}
h4{
    font-family: GarnetBlack;
    font-size: 40pt;
    color: #9b9070;
}
#traits{
    display: flex;
    font-family: Londoner;
    color: #9b9070;
    font-size: 20pt;
    margin-top: -60px;
    margin-left: 84px;
}
#rightROTD{
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
}
#rightROTD li{
    margin-left: 30px;
}
#leftROTD{
    margin-left: 50px;
}
#ROTD p{
    font-family: Gothic;
    color: #9b9070;
    width: 600px;
    font-size: 12pt;
    letter-spacing: 2px;
    margin-top: -40px;
    line-height: 31px;
    margin-left: 30px;
}

.swiper {
    width: 680px;
  }

  .swiper-slide{
    width: 500px;
    background-color: ;
  }
  .swiper-slide img {
    object-fit: cover;
  }