@font-face {
    font-family: GarnetBlack;
    src: url(fonts/GarnetCapitals-Black.ttf);
}
@font-face {
    font-family: Goldbarre;
    src: url(fonts\GoldbarreNo2W00-Regular.ttf);
}
h1{
    font-family: Goldbarre;
    color: #B8AB82;
    font-size: 24pt;
}
body{
    width: 1500px;
    margin: 0 auto;
}
.buttonunset{
    all: unset;
}
.buttonunset:hover{
    cursor: pointer;
}
nav{
    background-color: #2E2B2D;
    height: 86px;
    margin-top: -8px;
}
#burgermenu{
    margin-left: 23px;
    margin-top: 28px;
}
#ezcheflogo{
    position: absolute;
    margin-left: 30px;
    margin-top: 17px;
}
ul{
    display: flex;
    text-align: center;
    margin-left: 526px;
}
li{
    all: unset;
    margin-left: 15px;
    height: 83px;
    margin-top: -73px;
    width: 117px;
    position: relative;
}
li:hover{
    cursor: pointer;
    background-color: #282527;
}
a{
    all: unset;
    color: #B8AB82;
    font-family: GarnetBlack;
    position: absolute;
    margin-top: 31px;
    margin-left: -31px;
    font-size: 13pt;
}
.active{
    background-color: #282527;
}
header{
    height: 110px;
    background-color: #2E2B2D;
    margin-top: -21px;
}
hr{
    border-top: 1px;
    border-color: #B8AB82;
    margin: 0;
}
