<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
{% block content %}
<body>
    <nav>
        <div id="navcontainer">
            <button class="buttonunset" id="burgermenu"><img src="{{ url_for('static', filename='images/hamburgermenu.png') }}" alt="hamburger menu icon"></button> 
            <button class="buttonunset" id="ezcheflogo"><img src="{{ url_for('static', filename='images/ezcheflogo.png') }}" alt="ezchef logo"></button> 
            <div id="navbuttons">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Cook</a></li>
                    <li><a href="">Learn</a></li>
                    <li id="login"><a href="">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
{% endblock %}