@font-face {
    font-family: GarnetBlack;
    src: url(fonts/GarnetCapitals-Black.ttf);
}

body{
    width: 1500px;
    margin: 0 auto;
}
.buttonunset{
    all: unset;
}
.buttonunset:hover{
    cursor: pointer;
}
nav{
    background-color: #2E2B2D;
    height: 86px;
}
#burgermenu{
    margin-left: 23px;
    margin-top: 28px;
}
#ezcheflogo{
    position: absolute;
    margin-left: 30px;
    margin-top: 17px;
}
ul{
    display: flex;
    text-align: center;
    margin-left: 526px;
}
li{
    all: unset;
    margin-left: 15px;
    height: 83px;
    margin-top: -73px;
    width: 117px;
    position: relative;
}
li:hover{
    cursor: pointer;
    background-color: #282527;
}
a{
    all: unset;
    color: #B8AB82;
    font-family: GarnetBlack;
    position: absolute;
    margin-top: 31px;
    margin-left: -31px;
    font-size: 13pt;
}
#login{
    margin-left: 420px;
}
.active{
    background-color: #282527;
}
